<%= stylesheet_link_tag "postform" %>

선택한 글 수정하기 <br>
<form method="post" action="/update/<%=@post.id%>">
  <ul>
    <li>
      <label for="title">제목</label>
      <input type="text" name="title" placeholder="제목을 입력해주세요." value="<%=@post.title%>">
    </li>
    <li>
      <label for="content">내용</label>
      <textarea name="content" cols="30" rows="20" placeholder="내용을 입력해주세요."><%=@post.content%></textarea>
    </li>
    <li>
      <input type="submit" class="but">
    </li>
  </ul>
</form>
<a href="/index">뒤로가기</a>